@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2196f3;
}

.card {
  display: grid;
  max-width: 300px;
  grid-template-columns: 300px;
  grid-template-rows: auto 80px;
  grid-template-areas: "image" "text";

  font-family: 'Open Sans', sans-serif;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  align-content: center;
}

.card-image {
  grid-area: image;
}

.card-image img {
  max-height: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text {
  grid-area: text;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-text h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Raleway;
}

.swiper-slide .swiper-slide-shadow-left,
.swiper-slide .swiper-slide-shadow-right {
  border-radius: 15px !important;
}