@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

:root {

  --hue-color: 140;

  --first-color: hsl(var(--hue-color), 75%, 56%);
  --first-color-second: hsl(var(--hue-color), 75%, 56%);
  --first-color-alt: hsl(var(--hue-color), 75%, 49%);
  --title-color: hsl(var(--hue-color), 75%, 52%);
  --text-color: hsl(var(--hue-color), 24%, 42%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 15%, 75%);
  --selection-color: hsl(var(--hue-color), 97%, 81%);

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;

  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  --header-height: 3rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

body {
  overflow-x: hidden;
}

.blog-article {
  display: flex;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8.5rem;
  width: 50vw;
  height: 100%;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading h1 {
  font-size: var(--biggest-font-size);
  font-weight: 600;
  line-height: 40px;
}

.by-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.by i {
  margin: 0 5px;
}

.img-article {
  width: 100%;
  max-height: 500px;
  margin: 10px 0;
  display: flex;
}

.img-article img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.article-text {
  display: flex;
  flex-direction: column;
}

.article-text-box {
  margin: 10px 0;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.article-text-box strong {
  margin-top: 4px;
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.article-text-box p {
  font-size: var(--normal-font-size);
}

@media screen and (max-width:400px) {
  .main-heading h1 {
    font-size: var(--h1-font-size);
  }
}

@media screen and (max-width: 768px) {
  .article-container {
    top: 5rem;
    width: 90vw;
  }
}

.back-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.back {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.back i, span {
  font-size: var(--small-font-size);
}

.back:hover {
  filter:opacity(60%);
}

.article-references p a{
  color: var(--text-color) !important;
}

.blank {
  height: 100px;
}