@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

:root {

  --hue-color: 39;

  --first-color: hsl(39, 75%, 56%);
  --first-color-second: hsl(39, 75%, 56%);
  --first-color-alt: hsl(39, 75%, 49%);
  --title-color: hsl(39, 75%, 52%);
  --text-color: hsl(39, 24%, 42%);
  --text-color-light: hsl(39, 8%, 60%);
  --input-color: hsl(39, 24%, 97%);
  --body-color: hsl(36, 100%, 98%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(39, 12%, 90%);
  --scroll-thumb-color: hsl(39, 15%, 75%);
  --selection-color: hsl(39, 97%, 81%);

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.25rem;
  --medium-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;

  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  --header-height: 3rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --medium-font-size: 1.4rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.blank {
  height: 1px;
}

@media screen and (max-width: 576px) {
  .blank {
    height: 100px;
  }
}

/*---------------------------------------------*/

body {
  overflow-x: hidden;
}

.movie-banner {
  width: 90vw;
  max-width: 1200px;
  margin: 10px auto;
  min-height: 500px;
  position: relative;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.movie-banner-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  filter: blur(1.5px);
}

.movie-banner-img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0,0,0,0.6) 80%);
}

.movie-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px){
  .movie-banner {
    margin-top: 6rem;
  }
}

.movie-info {
  height: 500px;
  z-index: 10;
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

.movie-data {
  margin-left: 3rem;
  margin-top: 2rem;
}

.movie-data strong {
  font-size: var(--biggest-font-size);
  text-align: center;
}

.movie-data span {
  font-size: var(--normal-font-size);
}

.movie-description {
  margin-top: 1rem;
  max-width: 500px;
  text-align: justify;  
}

@media screen and (max-width: 968px) {
  .movie-description {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .movie-banner {
    width: 90vw;
    min-height: 80vh;
  }

  .movie-info {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  .movie-data {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  

  .movie-description {
    width: 90%;
    padding: 0;
    margin-top: 0rem;  
  }
}

@media screen and (max-width: 425px) {
  .movie-banner {
    height: 90vh;
  }
  .movie-info {
    /* transform: translateY(-70px)!important; */
  }
}

@media screen and (max-width: 320px) {
  .movie-poster {
    width: 80%;
  }
}

.watch-options {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .watch-options {
    padding-top: 6rem;
  }
}

@media screen and (min-width: 968px) {
  .watch-options {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .watch-options {
    padding-top: 2rem;
  }
}

.button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.button i {
  font-size: 1.5rem;
  transform: translateX(-10px)
}

.watch {
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.watch span {
  transform: translateY(-10px);
}

.iconify {
  font-size: 2rem;
}

.options {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .watch-options {
    flex-direction: column;
  }
  .watch {
    margin-left: 0;
    margin-top: 1.75rem;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .watch-options {
    padding-top: 2rem;
  }

  .movie-data {
    margin-top:0;
  }
}

@media screen and (max-width: 576px) {
  .movie-banner {
    height: 110vh;
  }

  .movie-info {
    transform: translateY(-10px);
  }

  .watch-options {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 375px) {
  .movie-info {
    /* transform: translateY(-60px); */
  }
}

@media screen and (max-width: 320px){
  .movie-info{
    transform: translateY(-135px);
  }
  .movie-banner {
    height: 120vh;
  }
}

.more-info {
  cursor: pointer;
}

.more-info:hover span {
  text-decoration: underline;
}

.overlay {
  width: 100%;
  background: rgba(0,0,0,.75);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: block;
}
.videoBox {
  position: fixed;
  width: 100%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
}

.videoBox iframe {
  width: 100%;
  height: 100%;
}

.close {
  font-size: 2rem;
  position: absolute;
  top: -18px;
  right: -18px;
  display: block;
  opacity: .8;
}
.close:hover {
  opacity: 1;
}
@media (min-width: 767px) {
  .videoBox {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .close {
    font-size: 4rem;
    right: 40%;
    top: 105%;
  }

  .videoBox {
    width: 90%;
    height: 80%;
    top: 45%;
  }
}
