@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

:root {

  --hue-color: 39;

  --first-color: hsl(39, 75%, 56%);
  --first-color-second: hsl(39, 75%, 56%);
  --first-color-alt: hsl(39, 75%, 49%);
  --title-color: hsl(39, 75%, 52%);
  --text-color: hsl(39, 24%, 42%);
  --text-color-light: hsl(39, 8%, 60%);
  --input-color: hsl(39, 24%, 97%);
  --body-color: hsl(36, 100%, 98%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(39, 12%, 90%);
  --scroll-thumb-color: hsl(39, 15%, 75%);
  --selection-color: hsl(39, 97%, 81%);

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --medium-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;

  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  --header-height: 3rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --medium-font-size: 1.4rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*---------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*---------------------------------------------*/

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.section__height {
  height: 100vh;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*---------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  text-transform: uppercase;
}

.nav__logo:hover {
  color: var(--title-color);
}

.nav__link:hover {
  color: var(--first-color)
}

@media screen and (max-width: 767px){
  .nav__menu {
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 -1px 12px hsla(var(--hue-color), 63%, 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

/*---------------------------------------------*/

.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/*---------------------------------------------*/

.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue-color), 63%, 15%, 0.15);
  transition: .4s;
  background-color: var(--body-color);
}

/*---------------------------------------------*/

@media screen and (max-width: 320px){
  .nav__name {
    display: none;
  }

  .active-link::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
    transition: all .4s ease-in-out;
}
}

@media screen and (min-width: 576px){
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 768px){
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__icon {
    display: none !important;
  }

  .nav__name {
    font-size: var(--normal-font-size)
  }

  .nav__link:hover {
    color: var(--first-color)
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -.75rem;
    width: 100%;
    height: 2px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*---------------------------------------------*/

.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title {
  color: var(--white-color)
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5)
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*---------------------------------------------*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup__icon {
  color: var(--white-color);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

/*---------------------------------------------*/

::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::selection{
  background-color: var(--selection-color);
}

/*---------------------------------------------*/

.pesquisas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pesquisas__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.pesquisa__link {
  text-decoration: none !important;
  transition: all .4s ease-in-out;
  align-self: center;
}

.pesquisa__link:hover {
  transform: scale(1.1);
}

.pesquisa {
  display: flex;
  border-radius: 6px;
  background-color: var(--first-color-second);
  height: 75px;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin: 7px;
}

@media screen and (max-width: 767px) {
  .pesquisa {
    width: 150px;
  }
}

.pesquisa span {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.search_box {
  height: 40px;
  width: 350px;
  margin-bottom: 20px;
  display: flex;
}

.search_box input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  padding: 0 20px;
}

.search-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-button .search__btn {
  font-size: 1.75rem;
}
/*---------------------------------------------*/

.main_section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  margin-left: 0;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.last_news_title {
  font-size: var(--biggest-font-size);
}

.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 80%;
}

.news-box {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:767px) {
  .noticias {
    width: 90vw !important;
  }
}

.news:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.news-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.news-image {
  padding: 0 !important;
  width: 300px;
  height: 200px;
}

.news_title {
  font-size: var(--medium-font-size);
}
 
.news-info {
  margin-top: 10px;
}

.overlay {
  width: 100%;
  background: rgba(0,0,0,.75);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: block;
}
.videoBox {
  position: fixed;
  width: 100%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
}

.videoBox iframe {
  width: 100%;
  height: 100%;
}

.close-video {
  font-size: 2rem;
  position: absolute;
  top: -18px;
  right: -18px;
  display: block;
  opacity: .8;
}
.close-video:hover {
  opacity: 1;
}
@media (min-width: 767px) {
  .videoBox {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .close-video {
    font-size: 4rem;
    right: 40%;
    top: 105%;
  }

  .videoBox {
    width: 90%;
    height: 80%;
    top: 45%;
  }
}

/*---------------------------------------------*/

.masonry {
  columns: 4;
  column-gap: 16px;
}

@media screen and (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}

@media screen and (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}

.grid-images {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .grid-images {
    margin-bottom: 6px;
  }
}

.grid-images img {
  width: 100%;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}

.grid-images img:hover {
  transform: scale(1.025);
  filter: grayscale(0.3) brightness(50%) opacity(90%);
}

.student-name {
  display: block;
  color: black;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: all 0.25s ease-in-out;
  line-height: 30px;
}

.grid-images a:hover + .student-name, 
.student-name:hover {
  display: block;
}

#galeria {
  width: 80%;
}

@media screen and (max-width: 768px) {
  #galeria {
    /* width: 95%; */
  }
}

/*---------------------------------------------*/

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.movie-box {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  background-color: var(--white-color);
  cursor: pointer;
  transition: all .4s;
}

.movie-box:hover {
  transform: scale(1.1);
}

.movie-image {
  width: 100%;
  height: 270px;
}

.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  justify-content: center;
}

.movie-info strong {
  font-weight: 700;
  font-family: Raleway;
}

.movie-info span {
  font-size: var(--smaller-font-size);
}

#cinema {
  max-width: 90vw;
}

@media screen and (max-width: 420px) {
  
  #auto-width .active {
    transform: scale(1.1) translateX(30%)!important;
  }
 
  #auto-width li {
    transform: translateX(30%)!important;
  }

}

@media screen and (max-width:579px) {
  #auto-width .active {
    transform: scale(1.1) translateX(62%);
    margin-right: 70px;
  }
 
  #auto-width li {
    transform: translateX(65%);
  }

  .movie-box:hover {
    transform: none;
  }

}